/* .Navbar{
  display: flex;
  width: 100%;
  justify-content: space-around;
} */

/* .Navbar{
  background-color: #1A120B;
} */

/* .Home{
  width: 100%;
  padding: 15% 10% 20%;
  height: 100%;
  color: #fff;
  height: 100vh;
} */
/* .Brand{
  color: #fff;
} */
/* .Mohsin{
  color: gold;
} */
/* 
.img{
  margin: 0 40%;
} */

/* .Home-text{
  font-size: 1.2rem;
  width: 100%;
}

.Home-text p{
  color: #7B8FA1;
}
.image{
  width: 100%;
  border-radius: 100%; */
  

/* .Home-text h1{
  font-size: 3.5rvh;
  font-weight: 700;
} */
/* 
.navbar-links{
  gap: 20px;
  color: #fff;
} */
/* 
h1{
  font-size: 2rem;
} */

/* .aboutme{
  color: gold;
  padding: 2%;
  text-align: center;
  
} */
/* 
.details{
  display: inline-block;
  width: 108px;
} */

/* .About-me{
  background-color: #0a101e;
  color: #fff;
  padding-bottom: 5%;
} */


  /* display: flex; */
  /* flex-wrap: wrap; */
  /* justify-content: center;
  text-align: center; */

/* 
.About-me-Content{
  display: flex;
  text-align: left;
  padding-top: 5%;
} */

/* .About-me-details{
  display: flex;
  flex-direction: column;
  width: 40%;
  padding: 5% 0;
  line-height: 2rem;
} */
/* 
.About-me-img{

  display: flex;
  justify-content: right;
  margin-right: 5%;
}
 */
/* 

@media (max-width: 768px) {
  
} */

